@import "../helpers/variables.scss";
@import "../helpers/mixins.scss";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button {
  outline: 0;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

q {
  display: inline;
  font-style: italic;
}

q:before {
  content: '"';
  font-style: normal;
}

q:after {
  content: '"';
  font-style: normal;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

body {
  font-family: $font-open-sans;
  overflow-x: hidden;
  font-size: 0.875rem;
}

a {
  text-decoration: none;
  color: $blue;
}


a[href^="tel"] {
  color: inherit;
  text-decoration: none;
}

[aria-current]:not([aria-current="false"]) {
  color: #9babab !important;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  width: 100%;

  @media screen and (min-width: $breakpoint-md) {
    max-width: $breakpoint-md;
  }
  @media screen and (min-width: $breakpoint-md) {
    max-width: $breakpoint-md;
  }
  @media screen and (min-width: $breakpoint-lg) {
    padding: 0 2.5rem;
  }
  @media screen and (min-width: $breakpoint-xl) {
    max-width: $breakpoint-xl;
  }
  @media screen and (min-width: $breakpoint-1_5xl) {
    max-width: $breakpoint-2xl;
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.scroll-effect {
  opacity: 0;
  transform: translateY(3.125rem);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.scroll-effect.visible {
  opacity: 1;
  transform: translateY(0);
}

.ease-in-out{
  transition: all 0.5s ease-in-out;

  &:hover{

    transform: scale(1.1); 
  }
}

