@import "../helpers/variables.scss";
@import "../helpers/mixins.scss";
@import "../helpers/placeholder.scss";

footer {
  background-color: $gray;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  color: $blue;
  text-align: center;

  .content {
    display: grid;
    align-items: center;
    @include grid-cols-12;
    row-gap: 1.25rem;
    font-family: $font-poppins;

    @media (min-width: $breakpoint-lg) {
      column-gap: 1.25rem;
      align-items: normal;
    }

    .logo {
      @include col-span-12;
      @include mx-auto;
      text-align: center;

      @media (min-width: $breakpoint-lg) {
        @include col-span-2;
      }

      .custom-logo {
        height: auto;
      }
    }

    .address {
      @include col-span-12;
      @extend %text-left;

      @media (min-width: $breakpoint-lg) {
        @include col-span-3;
        font-size: 1.125rem;
      }

      @media (min-width: $breakpoint-xl) {
        @include col-span-3;
      }
    }

    .contact {
      @include col-span-12;
      @media (min-width: $breakpoint-lg) {
        @include col-span-5;
      }

      @media (min-width: $breakpoint-xl) {
        @include col-span-3;
      }

      .subtitle {
        text-transform: uppercase;
        margin-bottom: 0.3125rem;
        font-size: 1rem;
        @extend %text-left;
      }

      .info {
        margin-top: 10px;
        @extend %text-left;
      }
    }

    .lists {
        display: flex;
        flex-direction: column;
        row-gap: 0.625rem;
        align-items: center;
        
        @media (min-width: $breakpoint-lg) {
            align-items: baseline;
        }
        
        .list{
            display: flex;
            column-gap: 0.3125rem;
            align-items: center;

            .icon {
              display: flex;
              justify-content: center;
    
              &.phone {
                @extend %icon-settings;
                @extend %phone;
              }
    
              &.wpp {
                @extend %icon-settings;
                @extend %whatsapp;
              }

              &.facebook{
                @extend %icon-settings;
                @extend %facebook;
              }

              &.instagram{
                @extend %icon-settings;
                @extend %instagram;
              }
            }
        }
      }

    .social-medias-copyright {
      @include col-span-12;
      row-gap: 0.625rem;

      @media (min-width: $breakpoint-lg) {
        @include col-span-3;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        height: 100%;
      }

      .social-medias {
        flex-direction: row;
        justify-content: center;
        column-gap: 0.625rem;
      }
    }

    .copyright {
      @include col-span-12;
      font-size: 1rem;
      @media (min-width: $breakpoint-lg) {
        @include col-span-3;
      }
    }
  }
}

#cookie-message{
  position: fixed;
  bottom: 1.875rem;
  width: 95%;
  background-color: $white;
  color: $blue;
  padding: 1.25rem 0.9375rem;
  z-index: 1000;
  border-radius: 1.25rem;
  @include mx-auto;
  display: flex;
  left: 0;
  right: 0;
  font-family: $font-poppins;

  .texts{
    display: grid;
    @include grid-cols-1;

    @media (min-width: $breakpoint-lg) {
      @include grid-cols-2;
      align-items: center;
    }

    .cookie-message{
      text-align: left;

      a{
        color: $orange;
      }
    }
  }
}

#accept-cookies{
  margin-left: 0.625rem;
  padding: 1.25rem 2.5rem;
  border: 1px solid $orange;
  border-radius: 0.625rem;
  background-color: transparent;
  color: $orange;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;

  &:hover{
    background-color: $orange;
    color: $white;
    @include transition-colors;
  }
}