@import "../helpers/variables.scss";
@import "../helpers/mixins.scss";
@import "../helpers/placeholder.scss";

header {
  display: flex;

  .first-header {
    display: grid;
    @include grid-cols-12;
    padding-top: 2.5rem;
    @include mx-auto;

    @media (min-width: $breakpoint-lg) {
      align-items: center;
      padding-top: 80px;
      padding-bottom: 0.625rem;
      column-gap: 40px;
    }

    .logo {
      @include col-span-12;
      @include mx-auto;
      width: 100%;
      text-align: center;

      @media (min-width: $breakpoint-lg) {
        @include col-span-3;
        @include col-start-2;
        text-align: left;
      }

      .custom-logo {
        object-fit: contain;
        height: 9.375rem;
        
        @media (min-width: $breakpoint-lg) {
          height: 13.125rem;
        }
      }
    }

    .login {
      @include col-span-12;
      display: grid;
      @include grid-cols-8;
      margin-top: 1rem;

      @media (min-width: $breakpoint-lg) {
        @include col-span-7;
        margin-top: 0;
        align-items: center;
      }

      .social-networks {
        @include col-span-12;
        display: flex;
        flex-direction: row;
        column-gap: 0.625rem;
        @include mx-auto;
        margin-bottom: 1.25rem;

        @media (min-width: $breakpoint-lg) {
          width: 100%;
          @include col-span-8;
          justify-content: end;
        }

        .icon {
          background-repeat: no-repeat;
          background-size: contain;
          display: block;
          width: 2.1875rem;
          height: 2.1875rem;

          &.facebook {
            @extend %facebook;
          }
          &.instagram {
            @extend %instagram;
          }
        }
      }

      .form {
        @include col-span-12;
        display: none;

        @media (min-width: $breakpoint-lg) {
          column-gap: 10px;
          align-items: center;
          justify-content: center;
          display: flex;
          flex-direction: row;
          @include col-span-8;
          display: grid;
          @include grid-cols-8;
        }

        input[type="text"],
        input[type="password"] {
          width: 100%;
          height: 2.875rem;
          border: 1px solid $blue;
          border-radius: 1.25rem;
          padding: 0.3125rem 0.625rem;
        }

        input::placeholder {
          color: $gray;
        }

        ::placeholder {
          font-size: 0.75rem;
        }

        .username,
        .password {
          position: relative;
        }

        .username{
          @media (min-width: $breakpoint-lg) {
            @include col-span-3;
          }
        }

        .password{
          @media (min-width: $breakpoint-lg) {
            @include col-span-3;
          }
        }

        .icon {
          height: 2.875rem;
          position: absolute;
          top: 0;
          right: 0.625rem;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;

          &.icon-user {
            background-image: url(../../dist/icons/user.svg);
            width: 1.75rem;
          }

          &.icon-password {
            background-image: url(../../dist/icons/lock.svg);
            width: 2.0625rem;
          }
        }

        .send {
          margin-left: 1.25rem;
          border-radius: 20px;
          width: 100%;
          height: 2.5rem;
          @media (min-width: $breakpoint-lg) {
            @include col-span-2;
          }
        }
      }
    }

    .menu {
      @include col-span-12;
      display: flex;
      text-align: center;
      margin-top: 1.25rem;
      text-transform: uppercase;
      flex-direction: row;
      column-gap: 0.625rem;
      font-size: 0.8125rem;
      @include mx-auto;

      @media (min-width: $breakpoint-xl) {
        font-size: 0.875rem;
      }

      .menu-item {
        position: relative;
        &::before {
          @extend %pipe;
        }

        a {          

          @media (min-width: $breakpoint-sm) {
            padding-left: 0.625rem;
          }

          &:hover{
            color: $orange;
            @include transition-colors;
          }
        }

        &.last-item {

          &::after{
            @extend %pipe;
            right: 0;
          }

          a {
            @media (min-width: $breakpoint-sm) {
              padding-right: 0.625rem;
            }
          }
        }
      }
    }
  }
}
