@import "../../helpers/variables.scss";
@import "../../helpers/mixins.scss";

.about{
    display: grid;
    text-align: center;
    @include grid-cols-12;
    padding-bottom: 40px;
    
    @media (min-width: $breakpoint-lg){
        padding-bottom: 80px;
    }

    .description{
        @include col-span-12;
        color: $blue;
        display: flex;
        flex-direction: column;
        row-gap: 2.5rem;
        padding-bottom: 2.5rem;
        font-weight: 700;

        @media (min-width: $breakpoint-lg){
            row-gap: 5rem;
            @include col-span-8;
            @include col-start-3;
        }

        .text{
            font-size: 1.25rem;

            @media (min-width: $breakpoint-lg){
                font-size: 1.875rem;
            }
        }
    }

    .quote{
        @include col-span-12;
        text-align: center;
        background-color: $blue;
        color: $white;
        padding: 2.5rem 0;
        font-size: 1.25rem;

        @media (min-width: $breakpoint-lg){
            padding: 5rem 0;
            font-size: 1.875rem;
        }
    }
}