@import "../../helpers/variables.scss";
@import "../../helpers/mixins.scss";

.join-now{
    background-color: $orange;
    color: $white;
    padding: 2.5rem 0;

    @media (min-width: $breakpoint-lg){
        padding: 6.25rem 0;
    }

    .content{
        display: grid;
        @include grid-cols-12;
        
        .infos{
            @include col-span-12;
            display: grid;
            align-items: center;

            @media (min-width: $breakpoint-md){
                @include col-span-12;
                column-gap: 2.5rem;
                @include grid-cols-12;
            }

            .main-title{
                font-size: 1.875rem;    
                line-height: 2.5rem;
                margin-bottom: 1.25rem;

                @media (min-width: $breakpoint-md){
                    font-size: 3.125rem;
                    line-height: 3.75rem;
                    text-align: right;
                    @include col-span-6;
                }
                @media (min-width: $breakpoint-xl){
                    @include col-span-3;
                    @include col-start-3;
                }
            }

            .price-tag{
                display: flex;
                flex-direction: column;
                align-items: baseline;
                
                @media (min-width: $breakpoint-md){
                    @include col-span-3;
                }
               
                .title{
                    @media (min-width: $breakpoint-lg){
                        margin-bottom: -0.875rem;
                        @include col-span-3;
                    }
                }

                .title,.currency, .mounth{
                    font-size: 1.25rem;
                }

                .price-info{
                    display: flex;
                    flex-direction: row;
                    
                    @media (min-width: $breakpoint-lg){
                        margin-top: 1.25rem;
                        @include col-span-3;
                    }
                    
                    .price{
                        font-size: 70px;
                        display: flex;
                        flex-direction: row;
                        position: relative;

                        @media (min-width: $breakpoint-lg){
                            font-size: 6.25rem;
                        }

                        .cents{
                            display: flex;
                            flex-direction: row; 
                   
                            .centavos{
                                font-size: 1.875rem;
                                @media (min-width: $breakpoint-lg){
                                    font-size: 3.75rem;
                                }
                            }
                            
                            .periodo{
                                font-size: 0.875rem;
                                position: absolute;
                                right: -1.25rem;
                                bottom: 0.625rem;
                                
                                @media (min-width: $breakpoint-lg){
                                    right: -1.875rem;
                                }
                            }
                        }

                    }
                }

                .button-join-now{
                    background-color: $white;
                    color: $orange;
                    font-size: 1.25rem;
                    border-radius: 1.25rem;
                    text-transform: uppercase;
                    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
                    padding: 0.3125rem 1.25rem;
                    max-width: 200px;
                    display: block;
                    text-align: center;
                    margin-top: 0.625rem;

                    &:hover{
                        background-color: $blue;
                        color: $white;
                        @include transition-colors;
                    }

                    @media (min-width: $breakpoint-lg){
                        @include col-span-3;
                        margin-left: auto;
                        margin-top: 0;
                    }
                }
            }
        }
    }

}