@import "../../helpers/variables.scss";
@import "../../helpers/mixins.scss";

.services{
    background-color: $blue-light;
    color: $blue;
    padding: 2.5rem 0;

    .contents{
        display: grid;
        @include grid-cols-12;
        
        .content{
            @include col-span-12;
            row-gap: 3.75rem;
            display: flex;
            flex-direction: column;

            @media (min-width: $breakpoint-lg){
                @include col-span-8;
                @include col-start-3;
                
            }

            .service{

                @media (min-width: $breakpoint-lg){
                    display: grid;
                    @include grid-cols-8;
                    column-gap: 2.5rem;
                }

                .image{
                    max-height: 15.625rem;
                    @media (min-width: $breakpoint-lg){
                        @include col-span-4;
                        max-height: 21.25rem;
                    }
                }

                .description{
                    margin-top: 0.625rem;
                    display: flex;
                    flex-direction: column;
                    row-gap: 10px;

                    h1,h2,h3{
                        font-size: 2.1875rem;
                    }
                    p{
                        font-size: 1rem;
                        font-family: $font-poppins;
                    }

                    @media (min-width: $breakpoint-lg){
                        @include col-span-4;
                    }
                }
            }
        }

    }
}