@import "./variables.scss";

%buttons{
    text-transform: uppercase;
    height: 2.5rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    border: none;
}

%pipe{
    content: "";
    border-right: 1px solid $gray-dark;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
}

%icon-settings{
    width: 32px;
    height: 32px;
    background-size: contain;
    content: "";
}

%facebook{
    background-image: url(../../dist/icons/facebook.svg);
}

%instagram{
    background-image: url(../../dist/icons/instagram.svg);
}

%whatsapp{
    background-image: url(../../dist/icons/whatsapp.svg);
}

%whatsapp-2{
    background-image: url(../../dist/icons/wpp-2.svg);
}

%phone{
    background-image: url(../../dist/icons/phone.svg);
    transform: rotate(218deg);
}

%text-left{
    @media (min-width: $breakpoint-lg) {
        text-align: left;
    }
}