$breakpoint-sm: 475px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-1_5xl: 1440px;
$breakpoint-2xl: 1536px;

$white: #fff;
$black: #000;
$orange: #e84f1c;
$blue-light: #d4edfc;
$blue: #1d72b8;
$blue-medium: #36a8e0;
$blue-dark: #1f3c7a;
$gray: #ededed;
$gray-dark: #9e9e9d;

$font-open-sans: "Open Sans", sans-serif;

